// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page{
  padding-top: 0px;
}
.dropzone{
  border: 6px dashed #0087F7!important;
  border-radius: 5px!important;
  background-color: white!important;
}

.nested-comment{
  margin-top: 50px!important;
}